/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.mi-elemento {
  background-color: blue;
}
body {
   background-color: #f3f4f6; /*Gris claro */
 /*  background-color: #a7a8a9; /*Gris claro */
}

.custom-container {
  width: 100%;
  /* width: 35vw; */
  max-width: 300px;
  /* max-width: 30vw; */
  min-width: 250px;
  padding: 2rem; /* equivalente a 'p-8' de Tailwind */
  background-color: white; /* equivalente a 'bg-white' de Tailwind */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* equivalente a 'shadow-md' de Tailwind */
  border-radius: 0.5rem; /* equivalente a 'rounded-md' de Tailwind */
}
/* .custom-container {
  width: 20em; /* 20 veces el tamaño de la fuente del elemento 
  width: 10rem; /* 10 veces el tamaño de la fuente del elemento raíz 
  width: 50vw; /* 50% del ancho total de la ventana 
  width: 30vh; /* 30% de la altura total de la ventana 
  width: 10cm; /* 10 centímetros 
  width: 100mm; /* 100 milímetros 
  width: 2in; /* 2 pulgadas 
  width: 36pt; /* 36 puntos 
  width: 3pc; /* 3 picas 
} */